<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- json 입력 측정 로그 관련 쿼리 -->
<mapper namespace="JsonLogMapper">
	<!-- JsonLog 테이블에 데이터를 입력함 -->
	<insert id="insertIntoJsonLog" parameterType="kr.com.inspect.dto.JsonLog">
		INSERT INTO audio.jsonlog
			(title, start, finish, elapsed)
			VALUES(#{title}, #{start}, #{finish}, #{elapsed});
	</insert>
	
	<!-- JsonLog 테이블 가져오기 -->
	<select id="getJsonLog" resultType="kr.com.inspect.dto.JsonLog">
  		SELECT * 
  		FROM 
  			audio.jsonlog;
	</select>
</mapper>