<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 회원 관련 쿼리 -->
<mapper namespace="MemberMapper">

	<!-- 공통 SQL : 회원정보를 가져옴 -->
	<sql id="getMember">
		SELECT 
			* 
		FROM 
			audio.member 
	</sql>

	<!-- 회원정보 가져옴 -->
	<select id="getMemberTable" resultType="kr.com.inspect.dto.Member">
		SELECT
			*
		FROM
			audio.member;
	</select>

	<!-- 아이디로 회원정보를 가져옴 -->
	<select id="readMemberById" parameterType="kr.com.inspect.dto.Member" resultType="kr.com.inspect.dto.Member">
		<include refid="getMember" />
		WHERE 
			member_id = #{member_id};
	</select>
	
	<!-- 아이디 중복 체크  -->
	<select id="idCheck" parameterType="string" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			audio.member 
		WHERE 
			member_id = #{member_id};
	</select>
	
	<!-- 회원가입 -->
	<insert id="registerMember" parameterType="kr.com.inspect.dto.Member">
		INSERT INTO 
			audio.member
			(member_id, pwd)
		VALUES
			(#{member_id}, #{pwd});
	</insert>
	
	<!-- 회원탈퇴 -->
	<delete id="deleteMember" parameterType="string">
		DELETE FROM 
			audio.member
		WHERE 
			member_id = #{member_id};
	</delete>
</mapper>