<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 회원 관련 쿼리 -->
<mapper namespace="MemberMapper">

	<!-- 공통 SQL : 회원정보를 가져옴 -->
	<sql id="getMember">
		SELECT 
			* 
		FROM 
			audio.member 
	</sql>
	
	<!-- 등록시 중복 여부 체크 -->
	<sql id="registerCheck">
		SELECT 
			COUNT(*) 
		FROM 
			audio.member 
	</sql>

	<!-- 회원 목록 가져옴 -->
	<select id="getMemberList" parameterType="hashMap" resultType="kr.com.inspect.dto.Member">
		SELECT 
			(ROW_NUMBER() OVER()) AS row_num,
			member_id,
			pwd,
			isAccountNonExpired,
			isAccountNonLocked,
			isCredentialsNonExpired,
			isEnabled,
			phone,
			email,
			name,
			approval,
			join_date,
			login_time,
			organization,
			profile_img
		FROM 
			(SELECT
				*
			FROM 
				audio.member 
			WHERE 
				member_id LIKE '%'||#{search_word}||'%'
				OR phone LIKE '%'||#{search_word}||'%'
				OR email LIKE '%'||#{search_word}||'%'
				OR name LIKE '%'||#{search_word}||'%'
				OR login_time LIKE '%'||#{search_word}||'%'
			ORDER BY 
				member_id) temp
		LIMIT 
			#{limit} 
		OFFSET 
			#{offset};
	</select>

	<select id="getAllMemberList" resultType="kr.com.inspect.dto.Member">
		SELECT
			*
		FROM
			audio.member;
	</select>

	<select id="getMemberListUsingApproval" parameterType="hashMap" resultType="kr.com.inspect.dto.Member">
		SELECT 
			(ROW_NUMBER() OVER()) AS row_num,
			member_id,
			pwd,
			isAccountNonExpired,
			isAccountNonLocked,
			isCredentialsNonExpired,
			isEnabled,
			phone,
			email,
			name,
			approval,
			join_date,
			login_time,
			organization,
			profile_img
		FROM 
			(SELECT
				*
			FROM 
				audio.member
			WHERE 
				approval = #{approval}
				AND (member_id LIKE '%'||#{search_word}||'%'
				OR phone LIKE '%'||#{search_word}||'%'
				OR email LIKE '%'||#{search_word}||'%'
				OR name LIKE '%'||#{search_word}||'%'
				OR login_time LIKE '%'||#{search_word}||'%')
			ORDER BY 
				member_id) temp
		LIMIT 
			#{limit} 
		OFFSET 
			#{offset};
	</select>
	
	<!-- 특정 권한을 가진 회원 목록을 가져옴 -->
	<select id="getMemberListUsingRole" parameterType="hashMap" resultType="kr.com.inspect.dto.Member">
		SELECT 
			(ROW_NUMBER() OVER()) AS row_num,
			member_id,
			pwd,
			isAccountNonExpired,
			isAccountNonLocked,
			isCredentialsNonExpired,
			isEnabled,
			phone,
			email,
			name,
			approval,
			join_date,
			login_time,
			organization,
			profile_img
		FROM
			(SELECT
				*
			FROM 
				audio.member 
			WHERE 
				member_id LIKE '%'||#{search_word}||'%'
				OR phone LIKE '%'||#{search_word}||'%'
				OR email LIKE '%'||#{search_word}||'%'
				OR name LIKE '%'||#{search_word}||'%'
				OR login_time LIKE '%'||#{search_word}||'%'
			ORDER BY 
				member_id) m
		LEFT JOIN 
			audio.authority a 
		ON 
			m.member_id = a.username 
		WHERE 
			a.authority_name = #{role}
		LIMIT 
			#{limit} 
		OFFSET 
			#{offset};
	</select>
	<select id="getMemberListUsingRoleAndApproval" parameterType="hashMap" resultType="kr.com.inspect.dto.Member">
		SELECT 
			(ROW_NUMBER() OVER()) AS row_num,
			member_id,
			pwd,
			isAccountNonExpired,
			isAccountNonLocked,
			isCredentialsNonExpired,
			isEnabled,
			phone,
			email,
			name,
			approval,
			join_date,
			login_time,
			organization,
			profile_img
		FROM
			(SELECT
				*
			FROM 
				audio.member 
			WHERE 
				approval = #{approval}
				AND (member_id LIKE '%'||#{search_word}||'%'
				OR phone LIKE '%'||#{search_word}||'%'
				OR email LIKE '%'||#{search_word}||'%'
				OR name LIKE '%'||#{search_word}||'%'
				OR login_time LIKE '%'||#{search_word}||'%')
			ORDER BY 
				member_id) m
		LEFT JOIN 
			audio.authority a 
		ON 
			m.member_id = a.username 
		WHERE 
			a.authority_name = #{role}
		LIMIT 
			#{limit} 
		OFFSET 
			#{offset};
	</select>

	<!-- 아이디로 회원정보를 가져옴 -->
	<select id="readMemberById" parameterType="kr.com.inspect.dto.Member" resultType="kr.com.inspect.dto.Member">
		<include refid="getMember" />
		WHERE 
			member_id = #{member_id};
	</select>
	
	<!-- 아이디 중복 체크  -->
	<select id="idCheck" parameterType="string" resultType="int">
		<include refid="registerCheck" />
		WHERE 
			member_id = #{member_id};
	</select>
	
	<!-- 이메일 중복 체크  -->
	<select id="emailCheck" parameterType="string" resultType="int">
		<include refid="registerCheck" />
		WHERE 
			email = #{email};
	</select>
	
	<!-- 연락처 중복 체크  -->
	<select id="phoneCheck" parameterType="string" resultType="int">
		<include refid="registerCheck" />
		WHERE 
			phone = #{phone};
	</select>
	
	<!-- 회원가입 -->
	<insert id="registerMember" parameterType="kr.com.inspect.dto.Member">
		INSERT INTO 
			audio.member
			(member_id, 
			pwd, 
			name,
			isAccountNonExpired, 
			isAccountNonLocked, 
			isCredentialsNonExpired, 
			isEnabled,
			join_date,
			login_time,
			phone, 
			email,
			approval,
			organization,
			profile_img)
		VALUES
			(#{member_id}, 
			#{pwd},
			#{name}, 
			#{isAccountNonExpired}, 
			#{isAccountNonLocked}, 
			#{isCredentialsNonExpired}, 
			#{isEnabled},
			to_char(now(), 'YYYY-MM-DD HH24:MI:SS'),
			to_char(now(), 'YYYY-MM-DD HH24:MI:SS'),
			#{phone}, 
			#{email},
			#{approval},
			#{organization},
			#{profile_img});
	</insert>
	
	<!-- 회원정보 수정 -->
	<update id="updateMember" parameterType="kr.com.inspect.dto.Member">
		UPDATE
			audio.member
		SET
			pwd = #{pwd}, 
			name = #{name},
			isAccountNonExpired = #{isAccountNonExpired}, 
			isAccountNonLocked = #{isAccountNonLocked}, 
			isCredentialsNonExpired = #{isCredentialsNonExpired}, 
			isEnabled = #{isEnabled},
			phone = #{phone}, 
			email = #{email},
			organization = #{organization}
		WHERE
			member_id = #{member_id};
	</update>
	
	<!-- 비밀번호 수정 -->
	<update id="updatePwd" parameterType="hashMap">
		UPDATE
			audio.member
		SET
			pwd = #{pwd}
		WHERE
			member_id = #{member_id};
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="deleteMember" parameterType="string">
		DELETE FROM 
			audio.member
		WHERE 
			member_id = #{member_id};
	</delete>

	<!-- 회원 수 리턴 -->
	<sql id="getMemberCount">
		SELECT 
			count(*)
		FROM 
			audio.member
	</sql>
	<select id="getMemberCount" resultType="int">
		<include refid="getMemberCount" />
	</select>
	<select id="getMemberSearchCount" parameterType="hashMap" resultType="int">
		<include refid="getMemberCount" />
		WHERE 
			member_id LIKE '%'||#{search_word}||'%'
			OR phone LIKE '%'||#{search_word}||'%'
			OR email LIKE '%'||#{search_word}||'%'
			OR name LIKE '%'||#{search_word}||'%'
			OR login_time LIKE '%'||#{search_word}||'%'
	</select>
	<select id="getMemberSearchCountUsingApproval" parameterType="hashMap" resultType="int">
		<include refid="getMemberCount" />
		WHERE 
			approval = #{approval}
			AND (member_id LIKE '%'||#{search_word}||'%'
			OR phone LIKE '%'||#{search_word}||'%'
			OR email LIKE '%'||#{search_word}||'%'
			OR name LIKE '%'||#{search_word}||'%'
			OR login_time LIKE '%'||#{search_word}||'%')
	</select>
	<select id="getMemberCountUsingRole" parameterType="hashMap" resultType="int">
		SELECT 
			COUNT(*)
		FROM
			(SELECT
				*
			FROM 
				audio.member 
			WHERE 
				member_id LIKE '%'||#{search_word}||'%'
				OR phone LIKE '%'||#{search_word}||'%'
				OR email LIKE '%'||#{search_word}||'%'
				OR name LIKE '%'||#{search_word}||'%'
				OR login_time LIKE '%'||#{search_word}||'%'
			ORDER BY 
				member_id) m
		LEFT JOIN 
			audio.authority a 
		ON 
			m.member_id = a.username 
		WHERE 
			a.authority_name = #{role};
	</select>
	<select id="getMemberCountUsingRoleAndApproval" parameterType="hashMap" resultType="int">
		SELECT 
			COUNT(*)
		FROM
			(SELECT
				*
			FROM 
				audio.member 
			WHERE 
				approval = #{approval}
				AND (member_id LIKE '%'||#{search_word}||'%'
				OR phone LIKE '%'||#{search_word}||'%'
				OR email LIKE '%'||#{search_word}||'%'
				OR name LIKE '%'||#{search_word}||'%'
				OR login_time LIKE '%'||#{search_word}||'%')
			ORDER BY 
				member_id) m
		LEFT JOIN 
			audio.authority a 
		ON 
			m.member_id = a.username 
		WHERE 
			a.authority_name = #{role};
	</select>
	

	<!-- 관리자 권한으로 가입 승인 -->
	<update id="updateMemberApprovalUsingId"
			parameterType="string">
		UPDATE
			audio.member
		SET
			approval = 'true'
		WHERE
			member_id = #{member_id};
	</update>

	<!-- 로그인 할 때마다 마지막 로그인 시간을 업데이트 -->
	<update id="updateLoginTime" parameterType="hashMap">
		UPDATE
			audio.member
		SET
			login_time = #{date}
		WHERE
			member_id = #{member_id};
	</update>

</mapper>