<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MetadataMapper">
	<resultMap id="metadataAndProgram" type="kr.com.inspect.dto.Metadata">
   		<id column="metadata_id" property="id" />
    	<result column="creator" property="creator" />
    	<result column="annotation_level" property="annotation_level" />
    	<result column="metadata_year" property="year" />
    	<result column="sampling" property="sampling" />
    	<result column="metadata_title" property="title" />
    	<result column="category" property="category" />
    	<result column="distributor" property="distributor" />
    	<result column="relation" property="relation" />
    	<result column="sentence_count" property="sentence_count" />
    	<collection property="program" javaType="kr.com.inspect.dto.Program">
      		<id column="program_id" property="id"/>
      		<result column="file_num" property="file_num"/>
      		<result column="program_title" property="title"/>
      		<result column="subtitle" property="subtitle"/>
			<result column="running_time" property="running_time"/>
		</collection>
	</resultMap>
	
	<!-- Metadata와 Program을 조인해서 가져옴 -->
	<select id="getMetadataAndProgram" resultType="kr.com.inspect.dto.Metadata" resultMap="metadataAndProgram">
  		SELECT
  			m.id metadata_id,
  			m.creator creator,
  			m.annotation_level annotation_level,
  			m.year metadata_year,
  			m.sampling sampling,
  			m.title metadata_title,
  			m.category category,
  			m.distributor distributor,
  			m.relation relation,
  			p.id program_id,
  			p.file_num file_num,
  			p.title program_title,
  			p.subtitle subtitle,
  			p.running_time running_time,
			ut.sentence_count sentence_count
  		FROM
  			audio.metadata m
  		LEFT JOIN audio.program p 
		ON
  			m.title = p.file_num
		LEFT JOIN 
			(SELECT metadata_id, COUNT(form) sentence_count
				FROM audio.utterance
				GROUP BY metadata_id) ut
		ON
			m.id = ut.metadata_id;
	</select>

	<!-- Metadata와 Program을 조인한 것을 id로 가져옴 -->
	<select id="getMetadataAndProgramUsingId" resultType="kr.com.inspect.dto.Metadata" resultMap="metadataAndProgram" parameterType="Integer">
		SELECT
			m.id metadata_id,
			m.creator creator,
			m.annotation_level annotation_level,
			m.year metadata_year,
			m.sampling sampling,
			m.title metadata_title,
			m.category category,
			m.distributor distributor,
			m.relation relation,
			p.id program_id,
			p.file_num file_num,
			p.title program_title,
			p.subtitle subtitle,
			p.running_time running_time
		FROM
			audio.metadata m
		LEFT JOIN 
			audio.program p 
		ON
			m.title = p.file_num
		WHERE 
			m.id = #{metaId};
	</select>
</mapper>