<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 회원 관련 쿼리 -->
<mapper namespace="UserMapper">

	<!-- 공통 SQL : 회원정보를 가져옴 -->
	<sql id="getUser">
		SELECT 
			* 
		FROM 
			audio.user 
	</sql>
	
	<!-- 아이디로 회원정보를 가져옴 -->
	<select id="readUserById" parameterType="String" resultType="kr.com.inspect.dto.User">
		<include refid="getUser" />
		WHERE 
			username = #{username};
	</select>
	
	<!-- 아이디와 비밀번호로 회원정보를 가져옴(로그인) -->
	<select id="getUserByIdAndPwd" parameterType="kr.com.inspect.dto.User" resultType="kr.com.inspect.dto.User">
		<include refid="getUser" />
		WHERE 
			username = #{username} AND password = #{password};
	</select>
	
	<!-- 아이디 중복 체크  -->
	<select id="idCheck" parameterType="string" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			audio.user 
		WHERE 
			username = #{username};
	</select>
	
	<!-- 회원가입 -->
	<insert id="registerUser" parameterType="kr.com.inspect.dto.User">
		INSERT INTO audio.user
			(username, password)
			VALUES(#{username}, #{password});
	</insert>
	
	<!-- 가지고 있는 권한을 가져옴 -->
	<select id="readAuthorities" parameterType="String" resultType="String">
		SELECT
			authority_name 
		FROM 
			audio.authority 
		WHERE 
			username = #{username};
   </select>
</mapper>