<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 사용자 로그 관련 쿼리 -->
<mapper namespace="UsingLogMapper">

	<!-- UsingLog 테이블에 데이터를 입력함 -->
	<insert id="insertIntoUsingLog" parameterType="kr.com.inspect.dto.UsingLog">
		INSERT INTO audio.using_log
				(ip_addr, 
				time,
				content, 
				member_id)
			VALUES(#{ip_addr},
				#{time}, 
				#{content}, 
				#{member_id});
	</insert>
	
	<select id="getUsingLog" parameterType="kr.com.inspect.dto.UsingLog"
		resultType="kr.com.inspect.dto.UsingLog">
		SELECT
			*
		FROM
			audio.using_log
		WHERE
			ip_addr = #{ip_addr}
			AND time = #{time}
			AND content = #{content}
	</select>
	
	<!-- 사용 로그를 가지고 옴 -->
	<select id="getAllUsingLog" parameterType="hashMap"
		resultType="kr.com.inspect.dto.UsingLog">
		SELECT
			(ROW_NUMBER() OVER()) AS row_num,
			no, 
			ip_addr,
			time,
			content,
			member_id
		FROM 
			(SELECT
				*
			FROM 
				audio.using_log
			WHERE 
				ip_addr LIKE '%'||#{search_word}||'%'
				OR time LIKE '%'||#{search_word}||'%'
				OR content LIKE '%'||#{search_word}||'%'
				OR member_id LIKE '%'||#{search_word}||'%'
			ORDER BY
				time DESC) temp
		LIMIT 
			#{limit} 
		OFFSET 
			#{offset};
	</select>
	<select id="getAllUsingLogByMemberId" parameterType="hashMap"
		resultType="kr.com.inspect.dto.UsingLog">
		SELECT
			(ROW_NUMBER() OVER()) AS row_num,
			no, 
			ip_addr,
			time,
			content,
			member_id
		FROM 
			(SELECT
				*
			FROM 
				audio.using_log
			WHERE 
				member_id = #{member_id}
				AND (ip_addr LIKE '%'||#{search_word}||'%'
				OR time LIKE '%'||#{search_word}||'%'
				OR content LIKE '%'||#{search_word}||'%')
			ORDER BY
				time DESC) temp
		LIMIT 
			#{limit} 
		OFFSET 
			#{offset};
	</select>
	
	<!-- 사용 기록 총 개수 -->
	<sql id="getCountOfUsingLog">
		SELECT 
			COUNT(*) 
		FROM 
			audio.using_log
	</sql>
	<select id="getAllCountOfUsingLog" resultType="int">
		<include refid="getCountOfUsingLog" />
		WHERE 
			ip_addr LIKE '%'||#{search_word}||'%'
			OR time LIKE '%'||#{search_word}||'%'
			OR content LIKE '%'||#{search_word}||'%'
			OR member_id LIKE '%'||#{search_word}||'%'
	</select>
	<select id="getAllCountOfUsingLogByMemberId" parameterType="hashMap" resultType="int">
		<include refid="getCountOfUsingLog" />
		WHERE 
			member_id = #{member_id}
			AND (ip_addr LIKE '%'||#{search_word}||'%'
			OR time LIKE '%'||#{search_word}||'%'
			OR content LIKE '%'||#{search_word}||'%')
	</select>

	<!-- 회원 id를 이용해서 가장 최근에 로그인 한 시간을 가져옴 -->
	<select id="getUserLoginTime" parameterType="string" resultType="string">
		SELECT
			time
		FROM
			audio.using_log
		WHERE
			member_id = #{member_id}
			AND content = '로그인'
		ORDER BY
			no desc
		LIMIT 1;
	</select>
</mapper>