<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Rule 로그 관련 쿼리 -->
<mapper namespace="UtteranceLogMapper">
    <!-- UtteranceLog 테이블에 데이터를 입력함 -->
    <insert id="insertIntoUtteranceLog" parameterType="kr.com.inspect.dto.UtteranceLog">
		INSERT INTO audio.utterance_log
				(ip_addr,
				time,
				content,
				after,
				before,
				member_id,
				metadata_id,
				using_log_no)
			VALUES(#{ip_addr},
				#{time},
				#{content},
				#{after},
				#{before},
				#{member_id},
				#{metadata_id},
				#{using_log_no});
	</insert>
</mapper>